<span onclick="Etkilesim(@ViewBag.BlogId,true)" style="cursor:pointer; margin-left:15px;">@Html.Raw(ViewBag.Olumlu != null ? ViewBag.Olumlu.Count : 0) <img src="~/images/like.png" width="20px" /></span> / <span onclick="Etkilesim(@ViewBag.BlogId,false)" style="cursor:pointer">@Html.Raw(ViewBag.Olumsuz != null ? ViewBag.Olumsuz.Count : 0) <img src="~/images/dislike.png" width="20px" /></span>
